<form class="form-horizontal">
    <h2>Octoslack</h2>
    <div class="octoslack_config_group">
	<div class="octoprint_config_row">
            <input type="checkbox" class="octoslack_valign octoslack_checkbox_margin_override" id="octoslack_include_raspi_temp" data-bind="checked: settings.plugins.Octoslack.include_raspi_temp">
            <div class="octoslack_label octoslack_action_label" onclick="$('#octoslack_include_raspi_temp').trigger('click')">Include RasPi temp</div>
	    <br/>
	    <small class="muted">Include the Raspberry Pi temperature alongside printer temperatures</small>
	</div>
	<div class="octoprint_config_row">
            <div class="octoslack_label">Duration time format</div>
	    <select data-bind="value: settings.plugins.Octoslack.time_format" class="octoslack_select">
                <option value="HUMAN">Human exact</option>
                <option value="FUZZY">Human fuzzy</option>
                <option value="EXACT">Compact exact</option>
            </select>
	    <br/>
	    <small class="muted">
                The format for displaying duration values (time elapsed and time remaining)
            </small>
	    <p class="octoslack_indented">
	        <small class="muted">
	    	    <strong>Human exact</strong> - "H hours, M minutes, S seconds"
	            <br/>
	            <strong>Human fuzzy</strong> - "an hour"
	            <br/>
	            <strong>Compact exact</strong> - "HH:MM:SS"
	        </small>
	    </p>
	</div>
	<div class="octoprint_config_row">
            <div class="octoslack_label">ETA timestamp time zone</div>
            <select id="octoslack_timezones" class="octoslack_select" onchange="Octoslack.timezone_change();"></select>
	    <input type="hidden" id="octoslack_timezones_hidden" data-bind="value: settings.plugins.Octoslack.timezones">
	    <input type="hidden" id="octoslack_timezone_hidden" data-bind="value: settings.plugins.Octoslack.timezone">
	    <small class="muted">
                <br/>
                The time zone to be used when calculating the print ETA date & time
            </small>
	</div>
	<div class="octoprint_config_row">
            <div class="octoslack_label">ETA date/time format</div>
	    <select data-bind="value: settings.plugins.Octoslack.eta_date_format" class="octoslack_select">
                <option>HH:mm &lt;fuzzy date&gt;</option>
                <option>hh:mm tt &lt;fuzzy date&gt;</option>
                <option>yyyy-MM-dd HH:mm</option>
                <option>MM/dd/yyyy HH:mm</option>
                <option>dd/MM/yyyy HH:mm</option>
                <option>MM/dd/yyyy hh:mm tt</option>
                <option>dd/MM/yyyy hh:mm tt</option>
            </select>
	    <br/>
	    <small class="muted">
                The format for displaying the print ETA date/time
            </small>
	    <p class="octoslack_indented">
	        <small class="muted">
	    	    <strong>HH:mm &lt;fuzzy date&gt;</strong> - "18:45 today"
	            <br/>
	            <strong>hh:mm tt &lt;fuzzy date&gt;</strong> - "06:45 PM today"
	            <br/>
	            <strong>yyyy-MM-dd HH:mm</strong> - "2018-10-31 18:45"
	            <br/>
	            <strong>MM/dd/yyyy HH:mm</strong> - "10/31/2018 18:45"
	            <br/>
	            <strong>dd/MM/yyyy HH:mm</strong> - "31/10/2018 18:45"
	            <br/>
	            <strong>MM/dd/yyyy hh:mm tt</strong> - "10/31/2018 06:45 PM"
	            <br/>
	            <strong>dd/MM/yyyy hh:mm tt</strong> - "31/10/2018 06:45 PM"
	        </small>
	    </p>
	</div>
	<div class="octoprint_config_row">
            <input type="checkbox" class="octoslack_valign octoslack_checkbox_margin_override" id="octoslack_ignore_cancel_fail_event" data-bind="checked: settings.plugins.Octoslack.ignore_cancel_fail_event">
            <div class="octoslack_label octoslack_action_label" onclick="$('#octoslack_ignore_cancel_fail_event').trigger('click')">Ignore failed event for cancelled prints</div>
	    <br/>
	    <small class="muted">
                <br/>
                As designed, OctoPrint not only triggers a <strong>Print cancelled</strong> event but also a corresponding <strong>Print failed</strong> event. Enabling this option (supported in OctoPrint 1.3.3+) will instruct the plugin to ignore the <strong>Print failed</strong> for this particular scenario.
            </small>
	</div>
    </div>
    <br/>
    <h2>Connection type</h2>
    <div class="octoslack_config_group">
	<input type="hidden" id="octoslack_connection_method_hidden" data-bind="value: settings.plugins.Octoslack.connection_method">
        <div>
            <input type="radio" name="octoslack_connection_type" id="octoslack_connection_type_apitoken" onclick="Octoslack.changeConnectionType(this.value);" class="octoslack_valign octoslack_checkbox_margin_override" value="APITOKEN">
            <span class="octoslack_valign octoslack_action_label" onclick="$('#octoslack_connection_type_apitoken').trigger('click')">Slack App Bot Token</span>
        </div>
	<small class="muted"><a href="https://slack.com/" target="_blank">Slack</a></small>
        <div>
            <input type="radio" name="octoslack_connection_type" id="octoslack_connection_type_webhook" onclick="Octoslack.changeConnectionType(this.value);" class="octoslack_valign octoslack_checkbox_margin_override" value="WEBHOOK">
            <span class="octoslack_valign octoslack_action_label" onclick="$('#octoslack_connection_type_webhook').trigger('click')">Slack/Mattermost WebHook URL</span>
        </div>
	<small class="muted">
            Most Slack features will be available for both connection methods but some may specifically require use of the Slack Bot Access Token
            </br>
            <a href="https://slack.com/" target="_blank">Slack</a> or <a href="https://mattermost.com/" target="_blank">Mattermost</a>
        </small>
        <div>
            <input type="radio" name="octoslack_connection_type" id="octoslack_connection_type_pushbullet" onclick="Octoslack.changeConnectionType(this.value);" class="octoslack_valign octoslack_checkbox_margin_override" value="PUSHBULLET">
            <span class="octoslack_valign octoslack_action_label" onclick="$('#octoslack_connection_type_pushbullet').trigger('click')">Pushbullet</span>
        </div>
	<small class="muted"><a href="https://www.pushbullet.com/" target="_blank">Pushbullet</a></small>
        <div>
            <input type="radio" name="octoslack_connection_type" id="octoslack_connection_type_pushover" onclick="Octoslack.changeConnectionType(this.value);" class="octoslack_valign octoslack_checkbox_margin_override" value="PUSHOVER">
            <span class="octoslack_valign octoslack_action_label" onclick="$('#octoslack_connection_type_pushover').trigger('click')">Pushover</span>
        </div>
	<small class="muted"><a href="https://pushover.net/" target="_blank">Pushover</a></small>
        <div>
            <input type="radio" name="octoslack_connection_type" id="octoslack_connection_type_rocketchat" onclick="Octoslack.changeConnectionType(this.value);" class="octoslack_valign octoslack_checkbox_margin_override" value="ROCKETCHAT">
            <span class="octoslack_valign octoslack_action_label" onclick="$('#octoslack_connection_type_rocketchat').trigger('click')">Rocket.Chat</span>
        </div>
	<small class="muted"><a href="https://rocket.chat/" target="_blank">Rocket.Chat</a></small>
        <div>
            <input type="radio" name="octoslack_connection_type" id="octoslack_connection_type_matrix" onclick="Octoslack.changeConnectionType(this.value);" class="octoslack_valign octoslack_checkbox_margin_override" value="MATRIX">
            <span class="octoslack_valign octoslack_action_label" onclick="$('#octoslack_connection_type_matrix').trigger('click')">Matrix</span>
        </div>
	<small class="muted">Any <a href="https://matrix.org/" target="_blank">Matrix</a> compatible service (e.g. <a href="https://riot.im/" target="_blank">Riot</a>)</small>
        <div>
            <input type="radio" name="octoslack_connection_type" id="octoslack_connection_type_discord" onclick="Octoslack.changeConnectionType(this.value);" class="octoslack_valign octoslack_checkbox_margin_override" value="DISCORD">
            <span class="octoslack_valign octoslack_action_label" onclick="$('#octoslack_connection_type_discord').trigger('click')">Discord</span>
        </div>
	<small class="muted"><a href="https://discordapp.com/" target="_blank">Discord</a></small>
        <div>
            <input type="radio" name="octoslack_connection_type" id="octoslack_connection_type_teams" onclick="Octoslack.changeConnectionType(this.value);" class="octoslack_valign octoslack_checkbox_margin_override" value="TEAMS">
            <span class="octoslack_valign octoslack_action_label" onclick="$('#octoslack_connection_type_teams').trigger('click')">Microsoft Teams</span>
        </div>
	<small class="muted"><a href="https://teams.microsoft.com/" target="_blank">Microsoft Teams</a></small>
    </div>
    <br/>
    <div id="octoslack_slack_config_section" class="octoslack_hidden"> <!-- Start Slack config section -->
        <h2>Slack configuration</h2>
        <div class="octoslack_config_group">
            <div id="octoslack_apitoken_group" class="octoslack_hidden">
                <br/>
                <div class="octoprint_config_row">
                    <span class="octoslack_label">Slack Bot Access Token</span>
                    <input type="text" class="octoslack_width_auto" id="octoslack_apitoken" size="60" placeholder="xoxb-111111111111-aaaaaaaaaaaaaaaaaaaaaaaa" data-bind="value: settings.plugins.Octoslack.slack_apitoken_config.api_token">
		    </br>
		    <small class="muted">
                        The Slack Bot Access Token is available the <strong>OAuth & Permissions</strong> section of your <a href="https://api.slack.com/apps" target="_blank">Slack App</a>.
                        </br>
                        The token is only available once the app has been installed to your workspace. Before the app can be installed to your workspace, various scopes/permissions must be granted to your app (see below)
                    </small>
                </div>
		<small class="muted">
                    <br/>
		    Bot Token Scopes requied for posting to a channel
		    <br/>
		    <p class="octoslack_indented">
	                channels:read
		        <br/>
		        chat:write
		        <br/>
		        groups:read
                    </p>
		    Bot Token Scopes requied for uploading assets/files to Slack
		    <br/>
		    <p class="octoslack_indented">
	                files:write
                    </p>
		    Bot Token Scopes requied for listening for and responding to commands
		    <br/>
		    <p class="octoslack_indented">
		        channels:history
		        <br/>
		        groups:history
		        <br/>
		        reactions:write
		        <br/>
		        users:read
                    </p>
                </small>
                <br/>
	        <div class="octoprint_config_row">
                    <input type="checkbox" class="octoslack_valign octoslack_checkbox_margin_override" id="octoslack_bot_commands" data-bind="checked: settings.plugins.Octoslack.slack_apitoken_config.enable_commands">
                    <div class="octoslack_label octoslack_action_label" onclick="$('#octoslack_bot_commands').trigger('click')">Listen for commands</div>
                </div>
	        <div class="octoprint_config_row">
	            <small class="muted">
			    When enabled, the plugin will poll your channel(s) looking for bot mentions/issued commands
			    <br/>
			    e.g.    @botname status
			    <br/>
			    (where @botname must match the bot name configured in Slack and as opposed to the Username configured for this plugin)
			    <br/>
	  	    </small>
                    <br/>
                    <table border="1" cellspacing="8" cellpadding="8">
                        <thead>
                        <tr bgcolor="#EEEEEE">
                            <td><strong>Command</strong></td>
                            <td><strong>Description</strong></td>
                            <td><strong>Enabled</strong></td>
                            <td><strong>Restricted*</strong></td>
                        </tr>
                        </thead>
                        <tr>
                            <td><strong>help<strong></td>
                            <td>Displays this list of commands</td>
                            <td align="center"><input type="checkbox" class="octoslack_valign octoslack_checkbox_margin_override" data-bind="checked: settings.plugins.Octoslack.slack_rtm_enabled_commands.help.enabled"></td>
                            <td align="center"><input type="checkbox" class="octoslack_valign octoslack_checkbox_margin_override" data-bind="checked: settings.plugins.Octoslack.slack_rtm_enabled_commands.help.restricted"></td>
                        </tr>
                        <tr>
                            <td><strong>status</strong></td>
                            <td>Display the current print job status</td>
                            <td align="center"><input type="checkbox" class="octoslack_valign octoslack_checkbox_margin_override" data-bind="checked: settings.plugins.Octoslack.slack_rtm_enabled_commands.status.enabled"></td>
                            <td align="center"><input type="checkbox" class="octoslack_valign octoslack_checkbox_margin_override" data-bind="checked: settings.plugins.Octoslack.slack_rtm_enabled_commands.status.restricted"></td>
                        </tr>
                        <tr>
                            <td><strong>stop</strong></td>
                            <td>Stop the current print</td>
                            <td align="center"><input type="checkbox" class="octoslack_valign octoslack_checkbox_margin_override" data-bind="checked: settings.plugins.Octoslack.slack_rtm_enabled_commands.stop.enabled"></td>
                            <td align="center"><input type="checkbox" class="octoslack_valign octoslack_checkbox_margin_override" data-bind="checked: settings.plugins.Octoslack.slack_rtm_enabled_commands.stop.restricted"></td>
                        </tr>
                        <tr>
                            <td><strong>pause</strong></td>
                            <td>Pause the current print</td>
                            <td align="center"><input type="checkbox" class="octoslack_valign octoslack_checkbox_margin_override" data-bind="checked: settings.plugins.Octoslack.slack_rtm_enabled_commands.pause.enabled"></td>
                            <td align="center"><input type="checkbox" class="octoslack_valign octoslack_checkbox_margin_override" data-bind="checked: settings.plugins.Octoslack.slack_rtm_enabled_commands.pause.restricted"></td>
                        </tr>
                        <tr>
                            <td><strong>resume</strong></td>
                            <td>Resume a paused print</td>
                            <td align="center"><input type="checkbox" class="octoslack_valign octoslack_checkbox_margin_override" data-bind="checked: settings.plugins.Octoslack.slack_rtm_enabled_commands.resume.enabled"></td>
                            <td align="center"><input type="checkbox" class="octoslack_valign octoslack_checkbox_margin_override" data-bind="checked: settings.plugins.Octoslack.slack_rtm_enabled_commands.resume.restricted"></td>
                        </tr>
                    </table>
	  	    <small class="muted">
                        *Restricted commands can only be executed by one of the configured authorized users. This option is ignored (all commands are accessible) If not authorized users are specified
	  	    </small>
		    <br/><br/>
                    <span class="octoslack_label">Alternate bot username</span>
                    <input type="text" class="octoslack_width_auto" size="25" data-bind="value: settings.plugins.Octoslack.slack_apitoken_config.alternate_bot_username">
                    <br/>
	            <small class="muted">
                            When using the Slack API token, specifying an alternate username here will alow enable listening for and responding to commands issued using this alternate username. In the scenario when multiple Octoslack instances are configured to use the same Slack Bot Access Token, the original bot name can be used to control a single instance while a common alternate name can be used to control all instances.
                            <br/>
                            Slack will not highlight this alternate name but Octoslack will still respond accordingly
			    <br/>
			    A alternate bot name of <strong>test123</strong> would be accessed via <strong>@test123</strong>
			    <br/>
			    e.g.    @test123 status
                    </small>
                    <br/><br/>
                    <div class="octoprint_config_row">
                        <span class="octoslack_label">Authorized users</span>
                        <input type="text" class="octoslack_width_auto" size="60" data-bind="value: settings.plugins.Octoslack.slack_rtm_authorized_users">
		        </br>
		        <small class="muted">A comma-separated list (username1,username2,username3) of Slack usernames who can execute restricted commands. If no users are provided, all commands are treated as unrestricted</small>
                    </div>
		    <br/>
	        </div>
                <div class="octoprint_config_row">
                    <span class="octoslack_label">Confirmation emoji</span>
                    <input type="text" class="octoslack_width_auto" size="15" data-bind="value: settings.plugins.Octoslack.slack_apitoken_config.commands_positive_reaction">
                    <br/>
		    <small class="muted">If commands are enabled, this emoji is added as a reaction to valid commands</small>
                </div>
                <div class="octoprint_config_row">
                    <span class="octoslack_label">Processing emoji</span>
                    <input type="text" class="octoslack_width_auto" size="15" data-bind="value: settings.plugins.Octoslack.slack_apitoken_config.commands_processing_reaction">
                    <br/>
		    <small class="muted">If commands are enabled, this emoji is added as a reaction before the actual command is executed to give the user some initial feedback while a potentially long running command is executing (e.g. capturing, processing, and uploading a snapshot)</small>
                </div>
                <div class="octoprint_config_row">
                    <span class="octoslack_label">Failure emoji</span>
                    <input type="text" class="octoslack_width_auto" size="15" data-bind="value: settings.plugins.Octoslack.slack_apitoken_config.commands_negative_reaction">
                    <br/>
		    <small class="muted">If commands are enabled, this emoji is added to invalid commands as well as valid commands that cannot be executed (e.g. <strong>pause</strong> is called on an already paused print)</small>
                </div>
                <div class="octoprint_config_row">
                    <span class="octoslack_label">Unauthorized emoji</span>
                    <input type="text" class="octoslack_width_auto" size="15" data-bind="value: settings.plugins.Octoslack.slack_apitoken_config.commands_unauthorized_reaction">
                    <br/>
		    <small class="muted">If commands are enabled and an authorized users list provided, this emoji will be returned to any restricted command issues by an unauthorized user</small>
                </div>
            </div>
            <div id="octolack_webhook_group" class="octoslack_hidden">
                <br/>
                <div class="octoprint_config_row">
                    <span class="octoslack_label">WebHook URL</span>
                    <input type="text" class="octoslack_width_auto" size="60" data-bind="value: settings.plugins.Octoslack.slack_webhook_config.webhook_url">
		    </br>
		    <small class="muted">A Slack WebHook URL can be created via the <strong>Incoming Webhooks</strong> feature of your <a href="https://api.slack.com/apps" target="_blank">Slack App</a></small>. Various scopes/permissions must also be granted to your app for it to function correctly (see below)
                </div>
		<small class="muted">
                    <br/>
		    Bot Token Scopes requied for posting to a channel
		    <br/>
		    <p class="octoslack_indented">
	                channels:read
		        <br/>
		        chat:write
		        <br/>
		        groups:read
                    </p>
		    Bot Token Scopes requied for uploading assets/files to Slack
		    <br/>
		    <p class="octoslack_indented">
	                files:write
                    </p>
                </small>
                <br/>
            </div>
	    <div class="octoprint_config_row">
                <input type="checkbox" class="octoslack_valign octoslack_checkbox_margin_override" id="octoslack_mattermost_compatabilty_mode" onclick="Octoslack.applyMattermostChanges();" data-bind="checked: settings.plugins.Octoslack.mattermost_compatability_mode">
                <div class="octoslack_label octoslack_action_label" onclick="$('#octoslack_mattermost_compatabilty_mode').trigger('click')">Mattermost compatability</div>
	        <br/>
	        <small class="muted">
		    While Mattermost provides a Slack compatible Webhook, there are a few differences that need to be accounted for. Enabling this mode will limit this config dialog to only the Mattermost compatible options and will also allow the plugin to make formatting changes as necessary.
		    <br/>
		    NOTE: Unlike Slack, Mattermost leverages Markdown for message formatting. Any message format customizations should be made using Markdown syntax
	        </small>
	    </div>
            <h3>Slack channel(s)</h3>
            <div class="octoprint_config_row">
                <div class="octoslack_label">Channel(s)</div>
                <input type="text" class="octoslack_width_auto" size="60" id="octoslack_slack_channel" data-bind="value: settings.plugins.Octoslack.channel">
	        <br/>
	        <small class="muted">
                    A single channel can be specified or multiple channels can provided via a comma-separated list (channel1,channel2,channel3)
	            <br/>
                    Optional for WebHooks but required for when using an Slack Bot Acces Token
                </small>
            </div>
        </div>
    </div> <!-- End Slack config section -->
    <div id="octoslack_pushbullet_config_section" class="octoslack_hidden"> <!-- Start Pushbullet config section -->
        <h2>Pushbullet configuration</h2>
        <div class="octoslack_config_group">
            <br/>
            <div class="octoprint_config_row">
                <span class="octoslack_label">Access Token</span>
                <input type="text" class="octoslack_width_auto" id="octoslack_pushbullet_access_token" size="60" placeholder="o.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" data-bind="value: settings.plugins.Octoslack.pushbullet_config.access_token">
		</br>
		<small class="muted">
                    An Access Token can be generated on your <a href="https://www.pushbullet.com/#settings" target="_blank">Pushbullet account settings</a> page
                </small>
            </div>
            <h3>Pushbullet channel(s)</h3>
            <div class="octoprint_config_row">
                <div class="octoslack_label">Channel(s)</div>
                <input type="text" class="octoslack_width_auto" size="60" id="octoslack_pushbullet_channel" data-bind="value: settings.plugins.Octoslack.pushbullet_config.channel">
	        <br/>
	        <small class="muted">
                    A single channel can be specified or multiple channels can provided via a comma-separated list (channeltag1,channeltag2,channeltag3). To send a direct message to yourself, <b>$myself$</b> can be used in lieu of a channel tag here and in the event channel overrides
                </small>
            </div>
        </div>
    </div> <!-- End Pushbullet config section -->
    <div id="octoslack_pushover_config_section" class="octoslack_hidden"> <!-- Start Pushover config section -->
        <h2>Pushover configuration</h2>
        <div class="octoslack_config_group">
            <br/>
            <div class="octoprint_config_row">
                <span class="octoslack_label">App Token</span>
                <input type="text" class="octoslack_width_auto" id="octoslack_pushover_app_token" size="60" placeholder="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" data-bind="value: settings.plugins.Octoslack.pushover_config.app_token">
		</br>
		<small class="muted">
                    Register your Pushover application <a href="https://pushover.net/apps/build" target="_blank">here</a>. Your App Token will be available on the next screen
                </small>
            </div>
            <div class="octoprint_config_row">
                <span class="octoslack_label">User/Group Key</span>
                <input type="text" class="octoslack_width_auto" id="octoslack_pushover_user_key" size="60" placeholder="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" data-bind="value: settings.plugins.Octoslack.pushover_config.user_key">
		</br>
		<small class="muted">
                    The message recipient's user or group key. Your user key is available on your <a href="https://pushover.net/" target="_blank">Pushover dashboard</a> page
                </small>
            </div>
        </div>
    </div> <!-- End Pushover config section -->
    <div id="octoslack_rocketchat_config_section" class="octoslack_hidden"> <!-- Start Rockat.Chat config section -->
        <h2>Rocket.Chat configuration</h2>
        <div class="octoslack_config_group">
            <br/>
            <div class="octoprint_config_row">
                <span class="octoslack_label">Server URL</span>
                <input type="text" class="octoslack_width_auto" id="octoslack_rocketchat_server_url" size="60" placeholder="https://open.rocket.chat" data-bind="value: settings.plugins.Octoslack.rocketchat_config.server_url">
		</br>
		<small class="muted">
                    The Rocket.Chat API authenticates with the username/password in plain text. It is highly reccommended to always connect to your Rocket.Chat server over https
                </small>
            </div>
            <div class="octoprint_config_row">
                <span class="octoslack_label">Username</span>
                <input type="text" class="octoslack_width_auto" id="octoslack_rocketchat_username" size="30" data-bind="value: settings.plugins.Octoslack.rocketchat_config.username">
		</br>
		<small class="muted">
                    Rocket.Chat username
                </small>
            </div>
            <div class="octoprint_config_row">
                <span class="octoslack_label">Password</span>
                <input type="password" class="octoslack_width_auto" id="octoslack_rocketchat_password" size="30" data-bind="value: settings.plugins.Octoslack.rocketchat_config.password">
		</br>
		<small class="muted">
                    Rocket.Chat password
                </small>
            </div>
            <h3>Rocket.Chat channel(s)</h3>
            <div class="octoprint_config_row">
                <div class="octoslack_label">Channel(s)</div>
                <input type="text" class="octoslack_width_auto" size="60" id="octoslack_rocketchat_channel" data-bind="value: settings.plugins.Octoslack.rocketchat_config.channel">
	        <br/>
	        <small class="muted">
                    A single channel can be specified or multiple channels can provided via a comma-separated list (channel1,channel2,channel3)
                </small>
            </div>
        </div>
    </div> <!-- End Rocket.Chat config section -->
    <div id="octoslack_matrix_config_section" class="octoslack_hidden"> <!-- Start Matrix config section -->
        <h2>Matrix configuration</h2>
        <div class="octoslack_config_group">
            <br/>
            <div class="octoprint_config_row">
                <span class="octoslack_label">Server URL</span>
                <input type="text" class="octoslack_width_auto" id="octoslack_matrix_server_url" size="60" placeholder="https://matrix.org" data-bind="value: settings.plugins.Octoslack.matrix_config.server_url">
		</br>
		<small class="muted">
                    The Rocket.Chat API authenticates with the username/password in plain text. It is highly reccommended to always connect to your Rocket.Chat server over https
                </small>
            </div>
            <div class="octoprint_config_row">
                <span class="octoslack_label">Access Token</span>
                <input type="text" class="octoslack_width_auto" id="octoslack_matrix_access_token" size="60" data-bind="value: settings.plugins.Octoslack.matrix_config.access_token">
		</br>
		<small class="muted">
                    The location of the access token will vary between Matrix implementations. For Riot.im, instructions can be found <a href="https://t2bot.io/docs/access_tokens/" target="_blank">here</a>
                </small>
            </div>
            <div class="octoprint_config_row">
                <span class="octoslack_label">User ID</span>
                <input type="text" class="octoslack_width_auto" id="octoslack_matrix_user_id" size="30" placeholder="@userid:domain" data-bind="value: settings.plugins.Octoslack.matrix_config.user_id">
		</br>
		<small class="muted">
                    The location of the user id will vary between Matrix implementations but it will always start with an at sign <b>@</b>
                </small>
            </div>
            <h3>Matrix room(s)</h3>
            <div class="octoprint_config_row">
                <div class="octoslack_label">Room(s)</div>
                <input type="text" class="octoslack_width_auto" size="60" id="octoslack_matrix_channel" placeholder="!roomid:domain" data-bind="value: settings.plugins.Octoslack.matrix_config.channel">
	        <br/>
	        <small class="muted">
                    A single room can be specified or multiple rooms can provided via a comma-separated list (roomid1:domain,roomid2:domain,roomid3:domain). The location of the room id will vary between Matrix implementations but it will always start with an exclamation point <b>!</b>
                </small>
            </div>
        </div>
    </div> <!-- End Matrix config section -->
    <div id="octoslack_discord_config_section" class="octoslack_hidden"> <!-- Start Discord config section -->
        <h2>Discord configuration</h2>
        <div class="octoslack_config_group">
            <br/>
            <div class="octoprint_config_row">
                <span class="octoslack_label">WebHook URL(s)</span>
                <input type="text" class="octoslack_width_auto" size="60" data-bind="value: settings.plugins.Octoslack.discord_config.webhook_urls">
                </br>
		<small class="muted">Discord requires a unique WebHook per channel. One or more WebHooks can be provided as a comma-separated list (WebHook1,WebHook2,WebHook3). A reference for creating Discord WebHooks can be found in the 'Making a WebHook' section <a href="https://support.discordapp.com/hc/en-us/articles/228383668-Intro-to-Webhooks" target="_blank">here</a></small>
            </div>
            <div class="octoprint_config_row">
                <span class="octoslack_label">Alternate username</span>
                <input type="text" class="octoslack_width_auto" size="15" data-bind="value: settings.plugins.Octoslack.discord_config.alternate_username">
	        </br>
	        <small class="muted">Optional WebHook username override to display an alternate username for messages posted to the Discord channel</small>
            </div>
            <div class="octoprint_config_row">
                <span class="octoslack_label">Avatar URL</span>
                <input type="text" class="octoslack_width_auto" size="60" data-bind="value: settings.plugins.Octoslack.discord_config.avatar_url">
	        </br>
	        <small class="muted">Optional WebHook avatar URL override</small>
            </div>
        </div>
    </div> <!-- End Discord config section -->
    <div id="octoslack_teams_config_section" class="octoslack_hidden"> <!-- Start Teams config section -->
        <h2>Microsoft Teams configuration</h2>
        <div class="octoslack_config_group">
            <br/>
            <div class="octoprint_config_row">
                <span class="octoslack_label">WebHook URL(s)</span>
                <input type="text" class="octoslack_width_auto" size="60" data-bind="value: settings.plugins.Octoslack.teams_config.webhook_urls">
                </br>
		<small class="muted">Microsoft Teams requires a unique WebHook per channel. One or more WebHooks can be provided as a comma-separated list (WebHook1,WebHook2,WebHook3). A reference for creating Microsoft Teams WebHooks can be found <a href="https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/add-incoming-webhook" target="_blank">here</a></small>
            </div>
        </div>
    </div> <!-- End Teams config section -->
    <br/>
    <h2>Snapshots</h2>
    <div class="octoslack_config_group">
        <h3>Snapshot hosting</h3>
	<input type="hidden" id="octoslack_upload_method_hidden" data-bind="value: settings.plugins.Octoslack.snapshot_upload_method">
        <div>
            <input type="radio" name="octoslackSnapshotUploadMethod" id="octoslackSnapshotUploadMethod_none"  onclick="Octoslack.changeSnapshotUploadMethod(this);" class="octoslack_valign octoslack_checkbox_margin_override" value="NONE">
            <span class="octoslack_valign octoslack_action_label" onclick="$('#octoslackSnapshotUploadMethod_none').trigger('click')">None</span>
	    <br/>
	    <small class="muted">No snapshots will be uploaded</small>
        </div>
        <div>
            <input type="radio" name="octoslackSnapshotUploadMethod" id="octoslackSnapshotUploadMethod_imgur" onclick="Octoslack.changeSnapshotUploadMethod(this);" class="octoslack_valign octoslack_checkbox_margin_override" value="IMGUR">
            <span class="octoslack_valign octoslack_action_label" onclick="$('#octoslackSnapshotUploadMethod_imgur').trigger('click')">Imgur</span>
	    <br/>
	    <small class="muted"><a href="http://imgur.com" target="_blank">imgur.com</a></small>
        </div>
        <div>
            <input type="radio" name="octoslackSnapshotUploadMethod" id="octoslackSnapshotUploadMethod_s3" onclick="Octoslack.changeSnapshotUploadMethod(this);" class="octoslack_valign octoslack_checkbox_margin_override" value="S3">
            <span class="octoslack_valign octoslack_action_label" onclick="$('#octoslackSnapshotUploadMethod_s3').trigger('click')">Amazon S3</span>
	    <br/>
	    <small class="muted"><a href="https://aws.amazon.com/free" target="_blank">https://aws.amazon.com/free</a></small>
        </div>
        <div>
            <input type="radio" name="octoslackSnapshotUploadMethod" id="octoslackSnapshotUploadMethod_minio" onclick="Octoslack.changeSnapshotUploadMethod(this);" class="octoslack_valign octoslack_checkbox_margin_override" value="MINIO">
            <span class="octoslack_valign octoslack_action_label" onclick="$('#octoslackSnapshotUploadMethod_minio').trigger('click')">Minio S3</span>
	    <br/>
	    <small class="muted"><a href="https://minio.io" target="_blank">Minio.io</a></small>
        </div>
        <div id="octoslackSlackUploadMethod">
            <input type="radio" name="octoslackSnapshotUploadMethod"
            id="octoslackSnapshotUploadMethod_slack"
            onclick="Octoslack.changeSnapshotUploadMethod(this);"
            class="octoslack_valign octoslack_checkbox_margin_override" value="SLACK">
            <span class="octoslack_valign octoslack_action_label"
              onclick="$('#octoslackSnapshotUploadMethod_slack').trigger('click')">Slack</span>
           <br/>
           <small class="muted">Snapshot images will be uploaded directly to Slack as general attachments. It's highly recommended to only use this option when sending messages to a dedicated Slack channel. Snapshots uploaded to Slack directly are not connected to Slack messages and depending on channel activity, may not render immediately after the intended Slack message. It's also worth noting that even with a dedicated channel, if multiple Slack messages are generated within a short period, the aforementioned render location issue may also occur. Requires Slack Bot Access Token.</small>
        </div>
        <div id="octoslackPushbulletUploadMethod">
            <input type="radio" name="octoslackSnapshotUploadMethod"
            id="octoslackSnapshotUploadMethod_pushbullet"
            onclick="Octoslack.changeSnapshotUploadMethod(this);"
            class="octoslack_valign octoslack_checkbox_margin_override" value="PUSHBULLET">
            <span class="octoslack_valign octoslack_action_label"
              onclick="$('#octoslackSnapshotUploadMethod_pushbullet').trigger('click')">Pushbullet</span>
           <br/>
           <small class="muted">Snapshot images will hosted by <a href="https://www.pushbullet.com/" target="_blank">Pushbullet</a></small>
        </div>
        <div id="octoslackPushoverUploadMethod">
            <input type="radio" name="octoslackSnapshotUploadMethod"
            id="octoslackSnapshotUploadMethod_pushover"
            onclick="Octoslack.changeSnapshotUploadMethod(this);"
            class="octoslack_valign octoslack_checkbox_margin_override" value="PUSHOVER">
            <span class="octoslack_valign octoslack_action_label"
              onclick="$('#octoslackSnapshotUploadMethod_pushover').trigger('click')">Pushover</span>
           <br/>
           <small class="muted">Snapshot images will hosted by <a href="https://pushover.net/" target="_blank">Pushover</a>. Only Pushover hosted snapshots will render in the message. All other hosting options will simply be included as a URL in the message body</small>
        </div>
        <div id="octoslackRocketChatUploadMethod">
            <input type="radio" name="octoslackSnapshotUploadMethod"
            id="octoslackSnapshotUploadMethod_rocketchat"
            onclick="Octoslack.changeSnapshotUploadMethod(this);"
            class="octoslack_valign octoslack_checkbox_margin_override" value="ROCKETCHAT">
            <span class="octoslack_valign octoslack_action_label"
              onclick="$('#octoslackSnapshotUploadMethod_rocketchat').trigger('click')">Rocket.Chat</span>
           <br/>
           <small class="muted">Snapshot images will hosted by <a href="https://rocket.chat/" target="_blank">Rocket.Chat</a></small>
        </div>
        <div id="octoslackMatrixUploadMethod">
            <input type="radio" name="octoslackSnapshotUploadMethod"
            id="octoslackSnapshotUploadMethod_matrix"
            onclick="Octoslack.changeSnapshotUploadMethod(this);"
            class="octoslack_valign octoslack_checkbox_margin_override" value="MATRIX">
            <span class="octoslack_valign octoslack_action_label"
              onclick="$('#octoslackSnapshotUploadMethod_matrix').trigger('click')">Matrix</span>
           <br/>
           <small class="muted">Snapshot images will hosted by the <a href="https://matrix.org/" target="_blank">Matrix</a> server. Only Matrix hosted snapshots will render in the message. All other hosting options will simply be included as a URL in the message body</small>
        </div>
        <div id="octoslackDiscordUploadMethod">
            <input type="radio" name="octoslackSnapshotUploadMethod"
            id="octoslackSnapshotUploadMethod_discord"
            onclick="Octoslack.changeSnapshotUploadMethod(this);"
            class="octoslack_valign octoslack_checkbox_margin_override" value="DISCORD">
            <span class="octoslack_valign octoslack_action_label"
              onclick="$('#octoslackSnapshotUploadMethod_discord').trigger('click')">Discord</span>
           <br/>
           <small class="muted">Snapshot images will hosted by <a href="https://discordapp.com/" target="_blank">Discord</a></small>
        </div>
        <div id="octoslack_imgur_group" class="octoslack_hidden">
            <br/>
            <div class="octoprint_config_row">
                <span class="octoslack_label">Imgur Client ID</span>
                <input type="text" id="octoslack_imgur_client_id" class="octoslack_width_auto" size="20" onchange="Octoslack.changeImgurClientID();" data-bind="value: settings.plugins.Octoslack.imgur_config.client_id">
            </div>
            <div class="octoprint_config_row">
                <span class="octoslack_label">Imgur Client Secret</span>
                <input type="text" class="octoslack_width_auto" size="60" data-bind="value: settings.plugins.Octoslack.imgur_config.client_secret">
            </div>
	    <small class="muted">
                Create a Imgur application via <a href="https://api.imgur.com/oauth2/addclient" target="_blank">https://api.imgur.com/oauth2/addclient</a>
                <br/>
                The name/details of the application are not important but <strong>OAuth 2 authorization without a callback URL</strong> is the appropriate <strong>Authorization type</strong> for this plugin
            </small>
            <div class="octoprint_config_row">
                <br/>
                <span class="octoslack_label">Imgur Refresh Token</span>
                <input type="text" id="octoslack_imgur_refresh_token" class="octoslack_width_auto" size="60" data-bind="value: settings.plugins.Octoslack.imgur_config.refresh_token">
            </div>
	    <small class="muted">
                Once you've provided the Imgur Client ID above, click <a href="#" id="octoslack_imgur_auth_link" target="_blank">here</a> to approve this application and generate the needed refresh_token
                The refresh token is made available once this application has been authorized. Because this integration isn't via a publically accessible web site/service, we'll need to manually copy/paste the refresh_token provided by the authorization page to this configuration screen.
                <br/>
                <br/>
                Example browser URL after application approval:
                <br/>
                https://imgur.com/#access_token=xyz&token_type=bearer&amp;<strong>refresh_token=<span class="octoslack_highlight">abc123</span></strong>&amp;account_username=xyz
                <br/>
                <br/>
                Optionally you can also just paste the entire URL (with the refresh_token argument) into the field above and the plugin will extract what it needs automatically
                <br/>
            </small>
            <div class="octoprint_config_row">
                <br/>
                <span class="octoslack_label">Imgur Album ID</span>
                <input type="text" id="octoslack_imgur_album_id" class="octoslack_width_auto" size="20" data-bind="value: settings.plugins.Octoslack.imgur_config.album_id">
            </div>
	    <small class="muted">
                Optional. If left blank, snapshots will be uploaded into the 'Anonymous' Imgur album which means your uploads will not be associated with any of your albums.
                <br/>
                The Imgur Album ID can be extracted via the URL you see when viewing your album.
                <br/>
                <br/>
                Example album URL:
                <br/>
                https://imgur.com/a/<strong><span class="octoslack_highlight">abc123</span></strong>
                <br/>
                <br/>
                Optionally you can also just paste the entire album URL into the field above and the plugin will extract what it needs automatically
                <br/>
		NOTE: If you see 'You are not the owner of album xyz' error messages, please confirm you have properly configured the refresh_token above after approving access to your Imgur application
                <br/>
                NOTE: Use of an Album ID requires a valid Imgur Refresh Token
            </small>
        </div>
        <div id="octolack_s3_group" class="octoslack_hidden">
            <br/>
            <div class="octoprint_config_row">
                <span class="octoslack_label">AWS Access Key</span>
                <input type="text" class="octoslack_width_auto" size="30" data-bind="value: settings.plugins.Octoslack.s3_config.AWSAccessKey">
            </div>
            <div class="octoprint_config_row">
                <span class="octoslack_label">AWS Secret Key</span>
                <input type="text" class="octoslack_width_auto" size="60" data-bind="value: settings.plugins.Octoslack.s3_config.AWSsecretKey">
            </div>
	    <small class="muted">AWS Access Keys can be generated via My Security Credentials --&gt; Access Keys</small>
	    <br/>
	    <br/>
            <div class="octoprint_config_row">
                <span class="octoslack_label">AWS S3 Bucket</span>
                <input type="text" name="octoslack_s3_bucket" id="octoslack_s3_bucket" class="octoslack_width_auto" size="20" data-bind="value: settings.plugins.Octoslack.s3_config.s3Bucket">
            </div>
	    <small class="muted">The S3 bucket where snapshots should be stored</small>
	    <br/>
	    <br/>
            <div class="octoprint_config_row">
                <span class="octoslack_label">AWS S3 Retention</span>
                <input type="number" id="octoslack_s3_retention" step="any" min="1" class="input-mini text-right" data-bind="value: settings.plugins.Octoslack.s3_config.file_expire_days">
                <span class="octoslack_valign">days</span>
	        <br/>
	        <small class="muted">How long should AWS keep uploaded snapshots before they are automatically deleted</small>
            </div>
	    <br/>
	    <div class="octoprint_config_row">
                <span class="octoslack_label">AWS S3 URL Style</span>
	        <select class="octoslack_select" data-bind="value: settings.plugins.Octoslack.s3_config.URLStyle">
                    <option value="VIRTUAL">Virtual hosted style</option>
                    <option value="PATH">Path style</option>
                </select>
	        <br/>
	        <small class="muted">
                    Most users won't need to change this setting as most S3 buckets fully support both URL styles. Some S3 buckets may require a specific style depending on the bucket name, region, or other attribute. Additional S3 bucket access details can be found <a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingBucket.html#access-bucket-intro" target="_blank">here</a>
                </small>
	        <p class="octoslack_indented">
	            <small class="muted">
	    	        <strong>Virtual hosted style</strong> - https://<strong><i>bucket</i></strong>.s3.amazonaws.com
	                <br/>
	                <strong>Path style</strong> - http://s3.amazonaws.com/<strong><i>bucket</i></strong>
	            </small>
	        </p>
	    </div>
        </div>
        <div id="octolack_minio_group" class="octoslack_hidden">
            <br/>
            <div class="octoprint_config_row">
                <span class="octoslack_label">Endpoint</span>
                <input type="text" class="octoslack_width_auto" size="30" data-bind="value: settings.plugins.Octoslack.minio_config.Endpoint">
            </div>
            <div class="octoprint_config_row">
                <span class="octoslack_label">Access Key</span>
                <input type="text" class="octoslack_width_auto" size="30" data-bind="value: settings.plugins.Octoslack.minio_config.AccessKey">
            </div>
            <div class="octoprint_config_row">
                <span class="octoslack_label">Secret Key</span>
                <input type="text" class="octoslack_width_auto" size="60" data-bind="value: settings.plugins.Octoslack.minio_config.SecretKey">
            </div>
	    <small class="muted">See minio.io docs how to configure your credentials</small>
	    <br/>
	    <br/>
            <div class="octoprint_config_row">
                <span class="octoslack_label">Minio/S3 Bucket</span>
                <input type="text" name="octoslack_minio_bucket" id="octoslack_minio_bucket" class="octoslack_width_auto" size="20" data-bind="value: settings.plugins.Octoslack.minio_config.Bucket">
            </div>
	    <small class="muted">The Minio/S3 bucket where snapshots should be stored</small>
	    <br/>
	    <br/>
            <div class="octoprint_config_row">
                <input type="checkbox" class="octoslack_valign octoslack_checkbox_margin_override" id="octoslack_minio_secure" data-bind="checked: settings.plugins.Octoslack.minio_config.secure">
                <div class="octoslack_label octoslack_action_label" onclick="$('#octoslack_minio_secure').trigger('click')">Secure Connection</div>
            </div>
        </div>
        <h3>Additional snapshot URLs</h3>
	<small class="muted">
		Credentials for cameras requiring basic authentication (username+password) can be provided via http|https://<strong>username:password</strong>@host:port/path?args
		<br/>
		A decent resource for determining the URL for our IP Camera can be found <a href="https://www.ispyconnect.com/sources.aspx" target="_blank">here</a>
	</small>
	<br/>
	<br/>
	<input type="hidden" id="octoslack_snapshot_urls_hidden" data-bind="value: settings.plugins.Octoslack.additional_snapshot_urls">
        <div id="octoslack_snapshot_urls_container" class="octoslack_hidden">
        </div>
        <h3>Snapshot layout</h3>
            <div class="octoprint_config_row">
	        <small class="muted">When utilizing multiple snapshots/cameras, the OctoPrint configured snapshot will be included first followed by the user configured snapshots in the order they have been configured above</small>
	        <br/>
	        <select data-bind="value: settings.plugins.Octoslack.snapshot_arrangement" class="octoslack_select">
		    <option value="HORIZONTAL">Horizontal</option>
		    <option value="VERTICAL">Vertical</option>
		    <option value="GRID">Grid</option>
	        </select>
	        <br/>
	        <small class="muted"><strong>Horizontal</strong> - Combine snapshot images horizontally into a single image
	        <br/>
		<table>
		    <tr>
		        <td class="octoslack_small_grid_cell">1</td>
		        <td class="octoslack_small_grid_cell">2</td>
		        <td class="octoslack_small_grid_cell">3</td>
		        <td class="octoslack_small_grid_cell">4</td>
		    </tr>
		</table>
		</small>
	        <small class="muted"><strong>Vertical</strong> - Combine snapshot images vertically into a single image
	        <br/>
		<table>
		    <tr>
		        <td class="octoslack_small_grid_cell">1</td>
		    </tr>
		    <tr>
		        <td class="octoslack_small_grid_cell">2</td>
		    </tr>
		    <tr>
		        <td class="octoslack_small_grid_cell">3</td>
		    </tr>
		    <tr>
		        <td class="octoslack_small_grid_cell">4</td>
		    </tr>
		</table>
		</small>
	        <small class="muted"><strong>Grid</strong> - Combile snapshot images by arranging them on a grid (supports up to 12 snapshots)
	        <br/>
		<table>
		    <tr>
		        <td class="octoslack_small_grid_cell">1</td>
		        <td class="octoslack_small_grid_cell">2</td>
		    </tr>
		    <tr>
		        <td class="octoslack_small_grid_cell">3</td>
		        <td class="octoslack_small_grid_cell">4</td>
		    </tr>
		</table>
		</small>
            </div>
    </div>
    <br/>
    <h2>OctoPrint Events</h2>
    <div class="octoslack_config_group">
        <div class="octoprint_config_row">
	    <small class="muted">
		The following variables are available for use in your custom messages and commands
		<br/>
		<p class="octoslack_indented">
			<br/>
			<strong>{print_name}</strong> - The name of the current print
			<br/>
			<strong>{pct_complete}</strong> - Progress metric for the print
			<br/>
			<strong>{elapsed_time}</strong> - Time since start of print
			<br/>
			<strong>{remaining_time}</strong> - Estimated remaining print time
			<br/>
			<strong>{eta}</strong> - Estimated print completion date/time
			<br/>
			<strong>{current_z}</strong> - Current nozzle Z height
			<br/>
			<strong>{octoprint_user}</strong> - OctoPrint user who started the print
			<br/>
			<strong>{slack_user}</strong> - Slack user who triggered the curent event (e.g. stop, pause, resume)
			<br/>
			<strong>{ip_address}</strong> - Local OctoPrint server IP(s)
			<br/>
			<strong>{hostname}</strong> - Local OctoPrint server hostname
			<br/>
			<strong>{fqdn}</strong> - Local OctoPrint server fully qualified domain name
			<br/>
			<strong>{error}</strong> - For error/failed events, the error message (if available)
			<br/>
			<strong>{printer_status}</strong> - Printer status
		</p>
		<br/>
                When <strong>Channel(s) override</strong> is left blank, enabled events will sent to the default Channel(s) configured above
	    </small>
        </div>
        <div id="octoslack_events_container" class="octoslack_hidden">
	</div>
    </div>
    <br/>
    <h2>G-code Events</h2>
    <div class="octoslack_config_group">
        <div class="octoprint_config_row">
	    <small class="muted">
		The following variables are available for use in your custom messages and commands
		<br/>
		<p class="octoslack_indented">
			<br/>
			<strong>{print_name}</strong> - The name of the current print
			<br/>
			<strong>{pct_complete}</strong> - Progress metric for the print
			<br/>
			<strong>{elapsed_time}</strong> - Time since start of print
			<br/>
			<strong>{remaining_time}</strong> - Estimated remaining print time
			<br/>
			<strong>{eta}</strong> - Estimated print completion date/time
			<br/>
			<strong>{current_z}</strong> - Current nozzle Z height
			<br/>
			<strong>{octoprint_user}</strong> - OctoPrint user who started the print
			<br/>
			<strong>{slack_user}</strong> - Slack user who triggered the curent event (e.g. stop, pause, resume)
			<br/>
			<strong>{error}</strong> - For error/failed events, the error message (if available)
			<br/>
			<strong>{ip_address}</strong> - Local OctoPrint server IP(s)
			<br/>
			<strong>{hostname}</strong> - Local OctoPrint server hostname
			<br/>
			<strong>{fqdn}</strong> - Local OctoPrint server fully qualified domain name
			<br/>
			<strong>{printer_status}</strong> - Printer status
			<br/>
			<strong>{cmd}</strong> - The matched G-code
		</p>
		<br/>
                When <strong>Channel(s) override</strong> is left blank, enabled events will sent to the default Channel(s) configured above
	    </small>
        </div>
	<input type="hidden" id="octoslack_gcode_events_hidden" data-bind="value: settings.plugins.Octoslack.gcode_events">
        <div id="octoslack_gcode_events_container"></div>
        <br/>
        <div class="octoslack_align_right" style="width: 100%;"><button onclick="Octoslack.addGcodeEventRow(); return false;">Add G-code event</button></div>
    </div>
</form>
